*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  width: 9rem;
}
.category{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: none;
  background-color: rgb(191, 220, 245);
  color: rgb(19, 104, 189);
  display: none;
}
.headerleft{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.headercentre{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  display: none;
}
.centre{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: transparent;
  color: rgb(100, 100, 100);
}
.searchbutton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  border-radius: 0.3rem;
  border-color: grey;
  color: grey;
  background-color: transparent;
  display: none;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-color: rgb(227, 226, 226);
}
header{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(168, 167, 167);
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  position: sticky;
}
.headerright{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



#getbutton{
  color: rgb(250, 77, 77);
  background-color: rgb(243, 199, 199);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 16px;
}
#video{
  color: black;
  font-size: 19px;
}
.searche{
  display: none;
}

/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)   {
  /* Your styles for small screens go here */
 
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)   {
  /* Your styles for medium screens go here */

  }

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)   {
  /* Your styles for large screens go here */
  .searche{
    display: flex;
  }
  #menus{
    display: none;
  }
}


/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
  /* Your styles for extra large screens go here */
  
  
  .headercentre{
  display: flex;
}
.category{
  display: flex;
}


}
